@import "tailwindcss";

:root {

  --color-primary: #6d28d9;
  --color-primary-hover: #7c3aed; 
  --color-primary-focus: #8b5cf6;


  --color-secondary: #b896ff; 
  --color-secondary-hover: #c9adff; 
  --color-secondary-focus: #dbd1ff; 

  --color-tertiary: #475569;
  --color-tertiary-hover: #64748b;
  --color-tertiary-focus: #94a3b8;

  --bg-dark: #202125; 
  --bg-light: #ffffff;
  --button-bg-dark: #1a1a1a;
  --button-bg-light: #f9f9f9;

  --text-dark: #b896ff; 
  --text-light: #213547;
  
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-dark);
  background-color: var(--bg-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body,
#root { 
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
a {
  font-weight: 500;
  color: var(--color-primary); 
  text-decoration: inherit;
  transition: color 0.25s;
}
a:hover {
  color: var(--color-primary-hover); 
}

body {
  margin: 0;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg-dark);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-primary); 
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--color-primary-focus); 
}


@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-light);
    background-color: var(--bg-light);
  }
  
  a:hover {
    color: #6d28d9; 
  }
  
  button {
    background-color: var(--button-bg-light);
  }
}